#!/bin/bash

: '
Helper functions for bash because my brain is too pequeño to remember all of this.

NOTE: For grabbing function name in bash, use ${FUNCNAME[0]} instead of ${funcstack[1]} as that is used for ZSH.
'

pidkill() { 
    local proc_name=$1
    kill -9 $(pgrep $proc_name) 
}

pidinfo() { 
    local proc_name=$1
    ps -p $(pgrep $proc_name) 
}

mix_test_file() { 
    fswatch lib test | mix test $1 --listen-on-stdin 
}

: '
Components:

	1.	kubectl: This is the command-line tool for interacting with Kubernetes clusters.
	2.	--context ${context}: Specifies the Kubernetes context to use. A context in Kubernetes includes the cluster, user, and namespace information. The variable ${context} should be replaced with the name of the context you want to use.
	3.	--namespace ${namespace}: Specifies the namespace within the Kubernetes cluster from which you want to fetch the logs. The variable ${namespace} should be replaced with the name of the namespace.
	4.	logs -f ${pod}:
        • logs: This subcommand fetches the logs from a specified pod.
        • -f: This option stands for “follow” and keeps the connection open, streaming the logs in real-time as new log entries are generated.
        • ${pod}: The name of the pod from which you want to fetch and stream logs. The variable ${pod} should be replaced with the actual pod name.

	5.	|: This is a pipe operator, which takes the output of the command on its left and uses it as the input for the command on its right.
	6.	lnav: Log Navigator (lnav) is a tool for viewing and analyzing log files. By piping the logs into lnav, you can take advantage of its features for better readability and analysis of log data.

Summary:

The entire command performs the following actions:

	1.	Connects to the specified Kubernetes context.
	2.	Selects the specified namespace within that context.
	3.	Fetches and streams logs in real-time from the specified pod.
	4.	Pipes the streamed logs into the lnav tool for enhanced viewing and analysis.

This is useful for monitoring and troubleshooting applications running in a Kubernetes cluster, as it allows you to see log entries as they are generated and use lnav’s capabilities to filter, search, and navigate through the log data efficiently.
'
function inspect_pod_logs() { 
    if ! command -v lnav &> /dev/null; then
        printf "%s\n" "lnav not found. Install lnav and try again."
        return 1
    fi

    if [ -z "$1" ] || [ -z "$2" ] || [ -z "$3" ]; then
        printf "%s\n" "Usage: ${funcstack[1]} <context> <namespace> <pod>"
        __ask_for_kubectl_help
        return 1
    fi

    local context=$1
    local namespace=$2
    local pod=$3

    kubectl --context ${context} --namespace ${namespace} logs -f ${pod} | lnav
}



: '
Function: db_port_forward

Usage: db_port_forward <context> <resource> [port]

Summary

The db_port_forward function is designed to set up port forwarding for a database service running in a Kubernetes cluster. 
It performs the following steps:

1.	Parameter Validation:
  •	Checks if the required parameters (context and resource) are provided.
  •	If not, prints an error message and usage information, and exits with a status code of 1.

2.	Local Variable Assignment:
  •	Assigns the first parameter to context.
  •	Assigns the second parameter to resource.
  •	Assigns the third parameter to port, defaulting to 15433 if not provided.

3.	Port Forwarding:
  •	Uses the kubectl command to set up port forwarding from the local port to port 5432 on the specified resource in the db-proxy namespace, using the specified context.
'
function db_port_forward() { 
    if [ -z "$1" ] || [ -z "$2" ]; then
        printf "%s\n" "Usage: ${funcstack[1]} <context> <resource> [port]"
        __ask_for_kubectl_help
        return 1
    fi

    local context=$1
    local resource=$2
    local port=${3:-15433}

    kubectl --context ${context} -n db-proxy port-forward ${resource} ${port}:5432
}

function git_author_log_commits() {
    if [ -z "$1" ]; then
        printf "%s\n" "Error: Missing parameters."
        printf "%s\n" "Usage: ${funcstack[1]} <author>"
        return 1
    fi

    local author=$1

    git log --reverse --decorate --oneline --date=short \
    --pretty=format:'%C(yellow)%h%Creset %C(green)%ad%Creset %C(bold blue)<%an>%Creset %C(auto)%d%Creset %s' \
    --author="$author"
}

function git_author_log_between_commits() {
    if [ -z "$1" ] || [ -z "$2" ] || [ -z "$3" ]; then
        printf "%s\n" "Error: Missing parameters."
        printf "%s\n" "Usage: ${funcstack[1]} <author> <first_commit> <second_commit>"
        return 1
    fi

    local author=$1
    local first_commit=$2
    local second_commit=$3

    git log --reverse --decorate --oneline --date=short \
    --pretty=format:'%C(yellow)%h%Creset %C(green)%ad%Creset %C(bold blue)<%an>%Creset %C(auto)%d%Creset %s' \
    --author="$author" \
    $first_commit..$second_commit
}

: '
Usage: ffmpeg_make_gif <input_file> <output_file>
Example: ffmpeg_make_gif input.mp4 output.gif
This will create a gif from the input file with a framerate of 34 and a scale of 320

Breakdown of the ffmpeg command:

	•	-ss 30: Seeks to 30 seconds into the input file.
	•	-t 3: Specifies the duration of the output to be 3 seconds.
	•	-i $in_file: Specifies the input file (the video file to be converted).

Video Filter (-vf) Options:

	•	fps=34: Sets the frame rate to 34 frames per second.
	•	scale=320:-1:flags=lanczos: Rescales the video to a width of 320 pixels, maintaining the aspect ratio (height is calculated automatically). The lanczos flag is used for high-quality scaling.
	•	split[s0][s1]: Splits the video stream into two streams, s0 and s1.
	•	[s0]palettegen[p]: Generates a color palette from the s0 stream and assigns it to a label p.
	•	[s1][p]paletteuse: Applies the generated palette p to the s1 stream to optimize the GIF colors.

Output Options:

	•	-loop 0: Sets the GIF to loop infinitely.
	•	$out_file: Specifies the output file (the resulting GIF).
'
function ffmpeg_make_gif() { 
    if ! command -v ffmpeg &> /dev/null; then
        printf "%s\n" "ffmpeg not found. Install ffmpeg and try again."
        return 1
    fi

    local in_file=$1
    local out_file=$2

    ffmpeg -ss 30 -t 3 -i $in_file \
    -vf "fps=34,scale=320:-1:flags=lanczos,split[s0][s1];[s0]palettegen[p];[s1][p]paletteuse" \
    -loop 0 $out_file
}

function __ask_for_kubectl_help() {
    local response

    while true; do
        printf "%s" "Would you like to see some kubectl helper commands? [Yy]/[Nn]: "

        if [[ -n $ZSH_VERSION ]]; then
            read -q response
            echo # This is needed to add a newline after the read command in ZSH
        elif [[ -n $BASH_VERSION ]]; then
            read -r response
        fi

        case $response in
            [Yy]* )
                __print_kubectl_helpers
                break
                ;;
            [Nn]* )
                echo "Skipping helpful information."
                break
                ;;
            * )
                echo "Please answer y or n."
                ;;
        esac
    done
}

function __print_kubectl_helpers() {
    printf "%s\n" "Get Namespaces: kubectl get namespaces"
    printf "%s\n" "Get Pods: kubectl get pods -n <namespace>"
    printf "%s\n" "Get Services: kubectl get services -n <namespace>"
}
