GITHUB_TOKEN="_token_here_"
VAULT_ADDR=_vault_url_here_
BOT_TOKEN_1="_some_bot_token_example_"
BOT_TOKEN_2="_some_bot_token_example_"
GRAFANA_TOKEN="_some_token_here"
AWS_USERNAME="_aws_username_"

# Default points to staging
PG_HOST=$STAGING_PG_HOST
PG_PASSWORD=$STAGING_PG_PASSWORD
PG_USER=$STAGING_PG_USER
PG_DATABASE=$STAGING_PG_DATABASE

LOCAL_PG_HOST=127.0.0.1
LOCAL_PG_PASSWORD=_local_password_
LOCAL_PG_USER=_local_user_
LOCAL_PG_DATABASE=_default_local_database_

STAGING_PG_HOST=_the_staging_url_
STAGING_PG_PASSWORD=_the_staging_password_
STAGING_PG_USER=_the_staging_username_
STAGING_PG_DATABASE=_the_default_staging_database_

